<template>
  <suspense>
    <template #default>
      <svg
        preserveAspectRatio="xMidYMid meet"
        :height="height"
        :width="width"
        viewBox="0 0 1280 780"
      >
        <rect x="0" y="0" width="1280" height="780" fill="#12599C" />
        <rect x="0" y="620" width="1280" height="160" fill="#674b10" />
        <rect x="20" y="20" width="1240" height="760" fill="#5d5d3c" />
        <rect x="22" y="22" width="1236" height="756" fill="#d5d5a4" />
        <line
          x1="22"
          y1="40"
          x2="1260"
          y2="40"
          style="stroke: #5d5d3c; stroke-width: 2"
        />
        <rect x="42" y="42" width="1196" height="696" fill="#cac988" />
        <polygon points="42,42 82,82 1196,82 1236,42" style="fill: #898950" />
        <polygon
          points="42,740 82,700 1196,700 1236,740"
          style="fill: #c4c591"
        />
        <rect x="82" y="82" width="1116" height="616" fill="#000000" />
        <foreignObject x="82" y="82" width="1116" height="616">
          <div xmlns="http://www.w3.org/1999/xhtml">
            <svg
              width="1116"
              height="616"
              viewBox="82 82 1116 616"
              style="opacity: 0.2"
            >
              <path
                style="fill: #040404; stroke: none"
                d="M0 0L0 1444L1 1444C5.02048 1393.06 35.0218 1338.24 85 1320.09C95.9295 1316.12 107.397 1314.53 119 1315.04C123.326 1315.23 131.657 1318.34 135.502 1315.93C142.219 1311.73 146.709 1295.51 152.3 1289C168.185 1270.5 192.607 1264.44 216 1265.01C237.51 1265.54 259.385 1274.44 278 1284.73C284.465 1288.3 298.765 1301.8 305.961 1300.98C310.283 1300.49 314.38 1293.97 317.05 1291C324.839 1282.34 335.536 1264.69 346.039 1259.88C355.204 1255.68 364.371 1274.82 374 1271.81C386.418 1267.92 399.365 1254.65 410 1247.2C430.229 1233.04 454.05 1220.04 472.115 1203.22C483.057 1193.03 491.2 1179.7 502 1169.17C522.02 1149.65 543.962 1131.93 568 1117.6C576.124 1112.76 584.373 1107.92 593 1104.02C596.505 1102.44 602.765 1100.93 604.972 1097.58C608.42 1092.35 605 1076.49 605 1070C567.291 1068.38 524.735 1047.19 494 1026.67C413.694 973.031 361.224 892.857 320.062 807C288.64 741.459 269.953 674.202 256.69 603C223.446 424.542 254.464 228.42 397.015 102.999C427.334 76.3239 460.706 54.3845 497 36.7423C542.772 14.4927 596.992 1.00537 648 1L630 0L592 0L459 0L0 0z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M648 0.424438C626.348 3.26709 604.497 3.65784 583 8.11963C547.374 15.5142 513.338 27.3553 481 44.1088C448.716 60.8344 418.132 82.252 391.615 107.112C334.116 161.017 290.587 229.867 266.745 305C236.481 400.375 238.536 506.548 256.69 604C265.607 651.869 275.652 699.317 292.936 745C345.049 882.74 439.222 1039.57 596 1069.07C628.354 1075.15 661.485 1074.89 694 1070.84C816.663 1055.57 907.281 944.734 962.309 843C989.365 792.978 1009.21 740.397 1025.44 686C1047.58 611.789 1065.08 537.737 1066.99 460C1070.34 323.055 1017.93 177.434 912 87.7253C881.156 61.6051 846.53 40.5631 809 25.5509C773.974 11.5402 738.308 5.3833 701 1.8302C683.832 0.19519 665.217 -1.83594 648 0.424438z"
              />
              <path
                style="fill: #040404; stroke: none"
                d="M683 0L683 1C732.231 1 782.532 12.6238 827 33.7029C863.026 50.7802 897.377 73.105 926.004 101.011C1020.62 193.248 1070.21 327.163 1066.99 459C1065.21 531.564 1049.62 600.443 1029.91 670C1015.86 719.559 999.332 768.829 976.247 815C933.352 900.789 875.723 983.974 792 1034.05C766.862 1049.09 733.965 1067.47 704 1069C704 1076.62 704.431 1084.39 703.911 1092C703.707 1094.98 702.269 1098.85 704.032 1101.58C707.617 1107.14 720.26 1110.27 726 1113.44C742.964 1122.8 759.316 1133.1 774.576 1145.09C789.147 1156.53 802.803 1169.66 814.537 1184C820.276 1191.01 824.307 1200.05 830.598 1206.47C842.536 1218.65 860.893 1227.45 875 1237.03C892.736 1249.07 912.092 1267.53 932 1275.41C941.992 1279.36 950.211 1260.51 959.907 1263.26C963.57 1264.31 966.527 1269.39 969.04 1272C976.272 1279.52 983.201 1287.28 990.424 1294.8C993.156 1297.65 996.77 1303.51 1001 1303.97C1005.31 1304.43 1010.66 1298.75 1014 1296.52C1023.9 1289.91 1034.18 1284.41 1045 1279.46C1089.49 1259.09 1154.75 1261.6 1171 1318C1249.16 1303.44 1309 1379.5 1309 1453L1310 1453L1310 0L683 0z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M456 107C421.864 165.431 411.527 239.162 426.014 305C429.508 320.878 434.966 336.112 441.424 351C444.204 357.407 450.792 366.001 451.114 373C451.321 377.506 447.349 382.228 445.309 386C441.308 393.398 437.84 401.157 434.811 409C424.437 435.863 417.551 465.517 425.155 494C437.448 540.046 478.918 560.182 523 558.039C544.671 556.985 565.752 550.795 579 532L580 532L619.305 587L657 660C668.602 644.67 674.229 620.595 682.309 603C693.176 579.333 710.126 557.792 720 534C730.769 541.586 738.984 550.986 752 555.251C802.507 571.798 863.322 544.253 874.192 490C879.197 465.019 874.784 439.793 866.308 416C862.907 406.454 851.352 390.872 851.889 381C852.384 371.885 861.525 359.775 864.772 351C871.252 333.487 874.504 314.482 876.714 296C883.762 237.076 865.979 177.252 848 122L847 122C841.812 187.734 833.331 258.886 791.765 313C780.338 327.875 766.673 338.836 752.055 350.295C745.185 355.68 746.794 363.801 738 368C742.328 356.463 743.9 343.104 746.196 331C746.859 327.504 749.058 320.706 746.958 317.499C744.662 313.994 737.718 312.905 734 311.667C720.81 307.273 706.866 303.928 693 302.911C665.336 300.883 638.75 297.351 611 301.286C587.706 304.588 567.008 313.508 545 321L549 343C494.311 306.823 471.49 232.229 462.427 171C460.53 158.178 458.606 144.943 458.039 132C457.699 124.221 459.041 114.247 456 107z"
              />
              <path
                style="fill: #e9d1cc; stroke: none"
                d="M451 134C436.324 177.381 424.903 218.476 428.09 265C432.36 327.36 462.383 385.324 501.463 433C521.549 457.504 545.04 478.901 565.573 503C603.005 546.936 633.341 594.897 658 647C666.336 633.752 669.671 615.507 675.85 601C689.123 569.844 704.745 539.311 724.884 512C747.121 481.844 773.544 454.115 798.286 426C821.231 399.926 843.162 373.954 853.279 340C869.306 286.213 855.293 233.932 851 180L850 180C849.632 197.823 843.803 216.059 838.72 233C828.575 266.812 816.37 298.031 792.714 325C784.122 334.794 774.375 343.994 764 351.87C758.52 356.029 749.892 359.722 745.857 365.326C740.123 373.29 739.524 389.471 737.127 399C732.297 418.201 725.429 436.818 715.579 454C703.188 475.613 688.725 494.456 672.166 513C669.137 516.392 665.55 522.39 661 523.813C658.604 524.563 656.415 522.7 654 523.331C651.145 524.077 649.248 527.322 646 526.079C641.574 524.385 637.448 518.48 634.424 515C627.709 507.27 620.617 500.009 614.2 492C593.059 465.613 575.9 435.84 564.435 404C559.381 389.964 557.121 375.054 552.316 361.015C548.802 350.75 529.83 341.66 522.001 333.985C504.965 317.287 490.959 296.545 480.781 275C467.224 246.304 459.195 214.428 455.285 183C453.456 168.302 456.665 147.5 451 134z"
              />
              <path
                style="fill: #040404; stroke: none"
                d="M871 203C871.621 217.252 875.471 231.717 876.83 246C879.061 269.436 877.476 292.818 873.586 316C871.062 331.049 866.85 345.915 860.988 360C858.394 366.234 851.764 374.239 851.488 381C851.134 389.67 860.799 402.896 864.139 411C871.308 428.397 876.821 449.083 876.821 468C876.821 532.506 815.257 570.492 756 556.1C740.907 552.435 733.071 540.096 720 534L689.753 587L680 610C697.003 610.351 714.954 614.985 731 620.333C747.404 625.802 762.933 633.313 777 643.428C851.166 696.759 848.119 807.755 833 888C842.85 882.971 851.542 874.319 860 867.246C879.871 850.629 898.464 832.954 916.089 814C1030.01 691.489 1079.55 497.579 1002.25 343C982.157 302.826 954.738 265.543 921 235.845C906.883 223.418 889.428 208.309 871 203M421 206C406.9 216.868 391.911 226.693 379 239.039C340.687 275.677 307.294 326.241 289.053 376C277.809 406.674 273.131 439.612 270.91 472C262.097 600.582 312.863 715.59 395.87 812C419.64 839.608 446.035 870.975 476 892C460.881 810.849 458.639 700.07 532 645.478C544.493 636.182 558.454 628.916 573 623.425C592.029 616.243 612.716 611.601 633 610C621.088 581.538 598.201 556.557 580 532C567.922 540.507 558.757 551.435 544 555.791C491.458 571.301 434.42 540.53 423.449 486C417.783 457.838 427.057 428.824 437.603 403C441.114 394.403 450.736 383.126 451.393 374C451.768 368.803 447.006 362.64 445 358C439.59 345.486 433.773 333.208 430.152 320C423.423 295.451 420 271.44 420 246C420 235.047 425.098 215.788 421 206z"
              />
              <path
                style="fill: #0fb40f; stroke: none"
                d="M872 212L873 213L872 212M421 214L422 215L421 214M420 225L421 226L420 225M874 226L875 227L874 226M875 234L876 235L875 234M876 243L877 244L876 243M877 262L877 282L878 282L877 262M420 267L421 268L420 267M421 278L422 279L421 278M422 286L423 287L422 286M423 292L424 293L423 292M875 304L876 305L875 304M427 310L428 311L427 310z"
              />
              <path
                style="fill: #e9d1cc; stroke: none"
                d="M581 412L582 412C580.666 401.671 577.809 391.508 578.015 381C578.562 353.237 593.787 329.481 618 316C611.274 313.257 599.852 317.161 593 318.873C585.497 320.749 567.829 323.164 563.029 329.699C559.851 334.025 563.758 346.063 564.586 351C568.13 372.129 574.387 391.71 581 412z"
              />
              <path
                style="fill: #0fb40f; stroke: none"
                d="M872 322L873 323L872 322M431 324L432 325L431 324M871 326L872 327L871 326M437 341L438 342L437 341M866 345L867 346L866 345M440 348L441 349L440 348M864 351L865 352L864 351z"
              />
              <path
                style="fill: #040404; stroke: none"
                d="M739 368C745.57 364.837 746.291 360.604 748 354C741.087 356.232 739.556 361.192 739 368z"
              />
              <path
                style="fill: #0fb40f; stroke: none"
                d="M747 355L748 356L747 355M862 356L863 357L862 356M740.333 358.667L740.667 359.333L740.333 358.667M746 360L747 361L746 360M860 361L861 362L860 361M447 363L448 364L447 363M739 363L740 364L739 363M859 363L860 364L859 363M448 365L449 366L448 365M738 367L739 368L738 367M451 371L452 372L451 371z"
              />
              <path
                style="fill: #040404; stroke: none"
                d="M453 377C440.921 402.87 427.257 428.734 426 458L427 458C432.138 448.348 438.979 438.359 448 432C446.584 428.56 443.633 424.931 444.478 421.005C446.791 410.251 457.601 415.508 461 422L477 416L455 377L453 377z"
              />
              <path
                style="fill: #0fb40f; stroke: none"
                d="M448 380L449 381L448 380M451 380L452 381L451 380M447 382L448 383L447 382z"
              />
              <path
                style="fill: #040404; stroke: none"
                d="M848 385L826 417L835 421C837.404 415.907 843.451 411.318 848.566 416.434C853.052 420.919 847.95 426.197 850.708 430.714C856.274 439.835 865.738 446.154 871 456L872 456C871.792 430.818 859.416 407.616 850 385L848 385z"
              />
              <path
                style="fill: #0fb40f; stroke: none"
                d="M461 389L462 390L461 389M845 389L846 390L845 389M463 392L464 393L463 392M464 394L465 395L464 394M840 396L841 397L840 396M466 397L467 398L466 397M858 397L859 398L858 397M439 398L440 399L439 398M442 398L443 399L442 398M838 399L839 400L838 399M856 399L857 400L856 399M469 402L470 403L469 402M835 403L836 404L835 403M834 404L835 405L834 404M439 405L440 406L439 405M471 405L472 406L471 405M859 406L860 407L859 406M438 407L439 408L438 407M473 408L474 409L473 408M831 408L832 409L831 408M830 409L831 410L830 409M437 410L438 411L437 410M474 410L475 411L474 410M475 411L476 412L475 411M861 411L862 412L861 411M864 411L865 412L864 411M476.333 412.667L476.667 413.333L476.333 412.667M828 412L829 413L828 412M827 413L828 414L827 413M450 414L450 415L455 415L450 414M477 414L461 422L456 415C461.935 425.019 455.811 432.946 445 427L448 432C441.371 433.105 433.149 445.602 430 451C428.152 454.168 427.698 457.675 425 457C425 470.228 424.601 483.176 428.438 496C437.279 525.542 462.733 548.832 493 554.54C514.06 558.512 541.665 557.365 560 545.561C564.706 542.531 575.332 536.089 576.079 530C576.493 526.636 572.69 523.33 570.753 521C565.128 514.233 559.342 507.641 553.576 501C537.609 482.612 520.38 465.289 504.285 447C495.098 436.56 487.332 423.171 477 414M826 414L827 415L826 414M839 414L840 415L839 414z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M840.185 414.746C831.308 418.488 837.057 432.565 845.945 428.975C855.09 425.282 849.374 410.874 840.185 414.746z"
              />
              <path
                style="fill: #0fb40f; stroke: none"
                d="M846 414L847 415L846 414M862 414L863 415L862 414M432 415L433 416L432 415M435 415L436 416L435 415M447 415L445 418L447 415z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M448.133 416.028C439.736 420.842 447.44 433.71 455.891 428.972C464.549 424.119 456.54 411.208 448.133 416.028z"
              />
              <path
                style="fill: #0fb40f; stroke: none"
                d="M825 415C801.51 445.83 768.903 468.115 745.119 499C739.557 506.223 734.164 513.502 728.975 521C727.056 523.773 723.437 527.33 723.792 530.985C724.446 537.703 736.709 544.764 742 547.688C762.845 559.204 793.658 558.456 816 551.856C845.133 543.249 867.099 515.366 872.384 486C874.518 474.143 873.001 462.865 873 451L872 451L872 456L871 456L849 428C838.623 430.652 833.161 420.636 825 415M848 415L849 416L848 415M837 416L838 417L837 416M849 416L850 417L849 416M863 416L864 417L863 416M836 417L837 418L836 417M431 418L432 419L431 418M434 418L435 419L434 418M835.333 418.667L835.667 419.333L835.333 418.667M850 418L851 419L850 418M444.333 419.667L444.667 420.333L444.333 419.667M864 419L865 420L864 419M433 421L434 422L433 421M432 424L433 425L432 424M444.333 424.667L444.667 425.333L444.333 424.667M850.333 424.667L850.667 425.333L850.333 424.667M866 426L867 427L866 426M428 427L429 428L428 427M431 427L432 428L431 427M849 427L850 428L849 427M867 429L868 430L867 429M427 430L428 431L427 430M430.333 430.667L430.667 431.333L430.333 430.667M868.333 432.667L868.667 433.333L868.333 432.667M871 433L872 434L871 433M429 435L430 436L429 435z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M466 436.653C445.41 443.111 456.213 476.185 477 470.211C500.168 463.552 489.009 429.436 466 436.653z"
              />
              <path
                style="fill: #0fb40f; stroke: none"
                d="M869 437L870 438L869 437M425 438L426 439L425 438M428.333 438.667L428.667 439.333L428.333 438.667M870 441L870 444L871 444L870 441M427 443L427 446L428 446L427 443z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M817 444.558C795.242 450.275 806.237 484.501 828 478.211C850.608 471.676 839.435 438.662 817 444.558z"
              />
              <path
                style="fill: #0fb40f; stroke: none"
                d="M871 445L871 449L872 449L871 445M874 447L875 448L874 447M426 448L426 453L427 453L426 448M423 449L424 450L423 449M875 453L876 454L875 453M876 471L877 472L876 471M875 481L876 482L875 481M423 486L424 487L423 486M869 504L870 505L869 504M864 514L865 515L864 514M434 515L435 516L434 515M436 518L437 519L436 518M438 521L439 522L438 521M441 525L442 526L441 525M855 527L856 528L855 527M449 534L450 535L449 534M581 534L582 535L581 534M450 535L451 536L450 535M717 538L718 539L717 538M842 540L843 541L842 540M457 541L458 542L457 541M588 543L589 544L588 543M461 544L462 545L461 544M835 545L836 546L835 545M591 547L592 548L591 547M832 547L833 548L832 547M738 548L739 549L738 548M594 551L595 552L594 551M743 551L744 552L743 551M476 552L477 553L476 552M479 553L480 554L479 553M819 553L820 554L819 553M545 555L546 556L545 555M597 555L598 556L597 555M541 556L542 557L541 556M706 556L707 557L706 556M530 557L531 558L530 557M767 557L768 558L767 557M805 557L806 558L805 557M499 558L500 559L499 558M518.667 558.333L519.333 558.667L518.667 558.333M777.667 558.333L778.333 558.667L777.667 558.333M600 559L601 560L600 559M789 559L789 560L793 560L789 559M702 563L703 564L702 563M605 566L606 567L605 566M698 570L699 571L698 570M697 572L698 573L697 572M612 576L613 577L612 576M618 585L619 586L618 585M620 588L621 589L620 588M625 596L626 597L625 596M628 601L629 602L628 601M632 608L633 609L632 608z"
              />
              <path
                style="fill: #e9d1cc; stroke: none"
                d="M528 763L521 946C576.816 931.56 634.551 921.684 692 927.834C717.987 930.616 746.682 933.504 770 946.312C776.259 949.75 780.465 954.771 786 959C790.019 942.117 788 923.247 788 906C788 878.287 789 850.664 789 823L789 791C789 787.316 790.045 781.628 787.397 778.638C783.502 774.241 774.443 772.343 769 770.721C751.947 765.639 733.687 763.336 716 761.914C674.421 758.572 631.787 755.209 590 757.039C569.193 757.95 548.718 761.362 528 763M605 1070L604.968 1096.78L584 1107.94L538.985 1136.48L489.75 1181.17L471.335 1203.22L442 1223.91L372 1273C376.325 1281.88 388.057 1287.99 394.985 1295C408.859 1309.06 421.375 1325.69 429 1344L430 1344L431 1325C536.89 1370.39 659.777 1374.42 772 1353.39C803.801 1347.43 832.913 1333.37 864 1326C863.591 1335.52 859.771 1347.43 861.488 1356.79C862.074 1359.98 867.639 1363.01 870.725 1362.18C874.721 1361.11 876.393 1352.32 877.862 1349C883.017 1337.34 889.874 1326.22 897.478 1316C903.477 1307.94 910.408 1300.01 918 1293.42C923.59 1288.58 931.632 1283.65 935 1277L874 1235.69L831.376 1206.47L814.537 1183L775.424 1145.09L726 1112.89L704.067 1100.78L704 1069C670.036 1073.39 639.076 1074.31 605 1070z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M306 1302L306 1303C316.546 1311.79 331.651 1286.62 338.282 1279C340.633 1276.3 343.962 1270.91 348.039 1271.12C357.168 1271.59 370.43 1283.57 377 1289.29C400.545 1309.77 423.649 1338.98 431 1370C434.506 1361.4 430.224 1344.96 426.247 1337C414.184 1312.86 396.121 1295.04 376.039 1277.56C369.495 1271.87 357.338 1259.01 348.004 1258.82C343.306 1258.72 338.917 1265.95 336.035 1269C325.826 1279.81 316.312 1291.28 306 1302M863 1394C883.308 1399.72 906.951 1409.92 928 1411L929 1405C915.266 1402.97 901.334 1397.32 888 1393.42C884.32 1392.35 876.131 1391.44 874.198 1387.7C870.634 1380.79 880.663 1363.46 883.427 1357C894.571 1330.96 913.005 1306.92 935 1289.09C940.362 1284.75 952.346 1274.01 959.7 1274.51C963.337 1274.76 966.691 1280.61 969.014 1283C977.885 1292.14 985.992 1301.99 995 1311C997.166 1309.7 1000.47 1308.08 999.655 1304.96C998.589 1300.87 993.274 1296.95 990.424 1294C983.473 1286.79 977.042 1279.14 970.015 1272C967.245 1269.19 963.312 1262.79 958.96 1262.59C948.179 1262.09 934.446 1278.51 927 1284.75C893.437 1312.92 871.104 1350.99 863 1394z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M198 1265.43C180.369 1267.83 161.943 1275.82 150.666 1290C146.005 1295.86 140.979 1312.66 134.725 1315.8C131.054 1317.64 124.897 1315.36 121 1315.09C112.68 1314.52 104.182 1315.05 96 1316.62C65.9535 1322.38 39.7563 1345.33 24.4529 1371C1.86893 1408.88 -5.98524 1456.91 3.66512 1500C25.0861 1595.65 126.635 1684.92 227 1671.72C274.486 1665.47 314.745 1631.44 329.254 1586C331.854 1577.86 333.776 1568.56 333.985 1560C334.116 1554.68 332.541 1547.09 334.603 1542.11C337.026 1536.26 352.981 1532.03 358.41 1527.95C373.618 1516.51 384.628 1500.85 388.385 1482C403.464 1406.33 348.343 1326.21 286 1288.8C260.055 1273.23 228.768 1261.23 198 1265.43M1171 1318C1164.12 1279.39 1120.1 1263.64 1086 1267.71C1025.99 1274.89 969.561 1322.11 942.258 1375C921.657 1414.91 903.466 1473.74 933.515 1514C940.031 1522.73 948.541 1530.65 958 1536.12C962.586 1538.78 970.802 1540.06 974.397 1543.73C977.482 1546.88 975.815 1553.99 976.089 1558C976.809 1568.51 978.442 1578.87 981.439 1589C991.107 1621.67 1016.26 1648.79 1047 1663.11C1147.01 1709.71 1259.82 1621.79 1296.86 1531C1306.28 1507.89 1311.62 1480.99 1309.91 1456C1305.62 1393.32 1268.25 1316 1196 1316C1187.53 1316 1179.29 1316 1171 1318z"
              />
              <path
                style="fill: #e9d1cc; stroke: none"
                d="M312 1307L312 1308C331.999 1327.14 350.508 1346.04 364.799 1370C368.968 1376.99 372.338 1384.46 375.396 1392C376.447 1394.59 377.3 1399.23 380.278 1400.3C384.272 1401.74 391.124 1397.97 395 1396.86C408.011 1393.11 420.811 1388.05 434 1385C433.269 1349.61 404.479 1313.85 380 1291.09C373.346 1284.9 356.918 1269.89 347.09 1270.65C342.789 1270.98 339.134 1277.04 336.576 1280C328.617 1289.2 320.599 1298.4 312 1307M930 1405C936.099 1379.27 953.725 1355.8 970.439 1336C975.872 1329.56 991.49 1319.69 993.654 1311.83C994.656 1308.19 989.356 1304.35 987.286 1302C980.705 1294.52 973.907 1287.26 967.089 1280C964.099 1276.82 961.832 1273.19 956.999 1274.69C948.116 1277.44 939.037 1284.89 932 1290.75C911.27 1308.03 894.041 1331.2 883.427 1356C880.36 1363.17 870.659 1379.82 873.693 1387.7C875.153 1391.49 883.567 1392.42 887 1393.42C900.539 1397.38 915.895 1404.36 930 1405z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M318 1313L319 1314L318 1313M980 1324L981 1325L980 1324z"
              />
              <path
                style="fill: #040404; stroke: none"
                d="M431 1325C431 1347.42 430.571 1368.96 436 1391L382 1407C388.478 1444.65 400.011 1483.66 370.829 1516C364.305 1523.23 356.531 1529.31 348 1533.99C344.472 1535.92 337.302 1537.07 335.028 1540.43C332.543 1544.1 334.007 1551.75 334 1556C333.986 1564.78 332.265 1573.51 330.104 1582C322.622 1611.4 302.617 1636.95 277 1652.94C187.336 1708.89 82.4635 1641.64 32.3086 1564C16.1733 1539.02 3.36934 1511.02 1 1481L0 1481L0 1976L714 1976L714 1975L650 1971L653 1689L748 1692L774 1692.71L783.258 1694.6L786.729 1712L794 1759C851.987 1760.2 908.061 1793.9 950.17 1831.2C960.245 1840.12 969.648 1849.32 978.989 1859C982.038 1862.16 988.128 1867.05 986.999 1872C985.713 1877.64 980.587 1883.39 977.29 1888C966.711 1902.78 953.528 1915.17 938.714 1925.61C882.951 1964.93 808.615 1975 742 1975L742 1976L1310 1976L1310 1475L1309 1475C1309 1508.89 1293.67 1541.36 1275.33 1569C1227.81 1640.64 1135.98 1702.53 1049 1663.56C1017.38 1649.4 990.389 1620.67 981.158 1587C978.522 1577.38 977.111 1567.89 976.17 1558C975.787 1553.98 977.231 1548.11 975.397 1544.43C973.43 1540.49 962.87 1538.37 959 1536.12C949.466 1530.6 941.036 1522.64 934.289 1514C919.334 1494.85 915.532 1465.44 919.325 1442C920.997 1431.67 925.152 1421.37 926 1411L863 1394L871 1363C856.801 1357.09 861.543 1339.24 864 1326C832.933 1333.36 803.669 1347.22 772 1353.55C659.519 1376.04 537.311 1369.26 431 1325z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M432 1325L433 1326L432 1325M430 1326L430 1338L431 1338L430 1326M434 1326L435 1327L434 1326z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M861 1326L862 1327L861 1326z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M436 1327L437 1328L436 1327M858 1327L859 1328L858 1327z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M856 1328L857 1329L856 1328z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M863 1328L863 1332L864 1332L863 1328M440 1329L441 1330L440 1329M853 1329L854 1330L853 1329z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M442 1330L443 1331L442 1330z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M850 1330L851 1331L850 1330z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M851 1330L852 1331L851 1330z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M445 1331L446 1332L445 1331M848 1331L849 1332L848 1331M338 1333L339 1334L338 1333M450 1333L451 1334L450 1333z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M843 1333L844 1334L843 1333z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M453 1334L454 1335L453 1334M840 1334L841 1335L840 1334M456 1335L457 1336L456 1335M837 1335L838 1336L837 1335M970 1335L971 1336L970 1335M459 1336L460 1337L459 1336M834 1336L835 1337L834 1336M462 1337L463 1338L462 1337M831 1337L832 1338L831 1337z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M430 1338L430 1344L431 1344L430 1338z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M465 1338L466 1339L465 1338M828 1338L829 1339L828 1338M343 1339L344 1340L343 1339M468 1339L469 1340L468 1339M825 1339L826 1340L825 1339z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M822 1340L823 1341L822 1340z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M475 1341L476 1342L475 1341M818 1341L819 1342L818 1341M862 1341L862 1344L863 1344L862 1341M478.667 1342.33L479.333 1342.67L478.667 1342.33M815 1342L816 1343L815 1342M482 1343L483 1344L482 1343M811 1343L812 1344L811 1343M347 1344L348 1345L347 1344z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M485 1344L486 1345L485 1344z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M486 1344L487 1345L486 1344M808 1344L809 1345L808 1344M489.667 1345.33L490.333 1345.67L489.667 1345.33M804 1345L805 1346L804 1345M493 1346L494 1347L493 1346M800.667 1346.33L801.333 1346.67L800.667 1346.33M961 1346L962 1347L961 1346M497 1347L498 1348L497 1347M797 1347L798 1348L797 1347M501.667 1348.33L502.333 1348.67L501.667 1348.33M793 1348L794 1349L793 1348z"
              />
              <path
                style="fill: #0fb40f; stroke: none"
                d="M430.333 1349.67L430.667 1350.33L430.333 1349.67z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M506 1349L507 1350L506 1349z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M790 1349L791 1350L790 1349M510 1350L511 1351L510 1350z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M511 1350L512 1351L511 1350M785.667 1350.33L786.333 1350.67L785.667 1350.33M958 1350L959 1351L958 1350M515 1351L516 1352L515 1351M781 1351L782 1352L781 1351M520 1352L521 1353L520 1352M776 1352L777 1353L776 1352z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M861 1352L862 1353L861 1352z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M525 1353L526 1354L525 1353M771 1353L772 1354L771 1353z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M772 1353L773 1354L772 1353z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M861.333 1353.67L861.667 1354.33L861.333 1353.67M530 1354L531 1355L530 1354M765.667 1354.33L766.333 1354.67L765.667 1354.33M955 1354L956 1355L955 1354M535.667 1355.33L536.333 1355.67L535.667 1355.33M759 1355L760 1356L759 1355z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M760 1355L761 1356L760 1355z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M356 1356L357 1357L356 1356z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M540 1356L541 1357L540 1356z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M541 1356L542 1357L541 1356M752.667 1356.33L753.333 1356.67L752.667 1356.33z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M754 1356L755 1357L754 1356M546 1357L547 1358L546 1357z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M547 1357L548 1358L547 1357M745.667 1357.33L746.333 1357.67L745.667 1357.33z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M747 1357L748 1358L747 1357M552 1358L553 1359L552 1358z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M553.667 1358.33L554.333 1358.67L553.667 1358.33M736 1358L736 1359L739 1359L736 1358z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M739 1358L740 1359L739 1358z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M358 1359L359 1360L358 1359M559.667 1359.33L560.333 1359.67L559.667 1359.33M728.667 1359.33L729.333 1359.67L728.667 1359.33z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M730 1359L731 1360L730 1359z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M565.667 1360.33L566.333 1360.67L565.667 1360.33M719.667 1360.33L720.333 1360.67L719.667 1360.33z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M721 1360L722 1361L721 1360M571 1361L572 1362L571 1361z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M572.667 1361.33L573.333 1361.67L572.667 1361.33M708 1361L708 1362L711 1362L708 1361z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M711 1361L712 1362L711 1361z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M360 1362L361 1363L360 1362z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M578 1362L579 1363L578 1362z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M579 1362L580 1363L579 1362M696 1362L696 1363L700 1363L696 1362z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M700 1362L701 1363L700 1362z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M585.667 1363.33L586.333 1363.67L585.667 1363.33M683 1363L683 1364L686 1364L683 1363z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M686 1363L687 1364L686 1363M597.667 1364.33L598.333 1364.67L597.667 1364.33z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M599 1364L599 1365L602 1365L599 1364M664 1364L664 1365L668 1365L664 1364z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M668 1364L669 1365L668 1364M619 1365L619 1366L642 1366L619 1365z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M945 1369L946 1370L945 1369M366 1372L367 1373L366 1372M432.333 1372.67L432.667 1373.33L432.333 1372.67M367 1374L368 1375L367 1374M368 1376L369 1377L368 1376M433.333 1377.67L433.667 1378.33L433.333 1377.67M369 1378L370 1379L369 1378M940 1378L941 1379L940 1378M370 1380L371 1381L370 1380M434 1383L416 1390.03L379 1401C381.999 1409.3 388.191 1405.2 395 1403.36C408.513 1399.7 423.14 1396.54 436 1391L434 1383M374 1389L375 1390L374 1389M935 1389L936 1390L935 1389M376 1394L377 1395L376 1394M931 1399L932 1400L931 1399z"
              />
              <path
                style="fill: #b90101; stroke: none"
                d="M485 1754C433.088 1754.14 384.278 1778.15 343 1807.71C332.936 1814.92 323.218 1822.68 314.004 1830.95C310.85 1833.78 305.252 1837.17 307.474 1842.04C311.296 1850.41 319.615 1858.53 326.004 1865C342.38 1881.57 361.137 1895.79 382 1906.25C457.401 1944.04 541.467 1943.36 623 1933L624 1891L625 1831L628 1688L532 1688C524.408 1688 503.75 1684.34 497.728 1689.03C493.971 1691.95 494.151 1701.64 493.414 1706C490.743 1721.77 485.331 1737.95 485 1754M653 1689L650 1934C671.151 1934.44 692.749 1940.46 714 1941.91C778.646 1946.34 848.784 1939.39 906 1906.57C924.343 1896.05 942.661 1883.05 956.576 1867C960.239 1862.78 968.585 1856 969.122 1850.09C969.483 1846.12 963.495 1842.28 960.985 1839.91C952.379 1831.81 943.225 1824.38 934 1817C895.52 1786.23 844.497 1759.42 794 1759C793.31 1742.94 789.005 1726.89 786.729 1711C786.136 1706.86 786.734 1696.83 783.258 1694.03C776.484 1688.56 755.382 1692 747 1692C715.7 1691.99 684.308 1689 653 1689z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M305 1839C300.292 1843.71 287.883 1852.17 287.022 1859C286.22 1865.35 295.231 1876.11 298.711 1881C313.581 1901.9 333.074 1917.42 355 1930.4C435.641 1978.11 532.64 1971 622 1971L623 1933C600.265 1934.8 577.858 1938.96 555 1939.96C492.046 1942.72 420.907 1931.63 367 1897.3C350.939 1887.08 336.074 1874.94 323.09 1861C316.636 1854.07 311.71 1845.6 305 1839z"
              />
              <path
                style="fill: #e9d1cc; stroke: none"
                d="M305 1850C302.237 1852.76 297.519 1856.1 296.418 1860C294.62 1866.37 305.768 1878.37 309.45 1883C323.483 1900.64 341.44 1913.95 361 1924.86C438.916 1968.33 530.322 1964.24 616 1964L616 1941C592.317 1942.87 568.799 1946.71 545 1947C483.243 1947.73 417.262 1934.68 364 1902.55C340.303 1888.25 325.271 1867.71 305 1850z"
              />
              <path
                style="fill: #54bbe8; stroke: none"
                d="M650 1934L650 1971C737.166 1977.88 833.378 1982.05 914 1941.14C937.747 1929.09 959.952 1912.58 975.846 1891C979.292 1886.32 989.483 1875.28 987.712 1869C986.556 1864.9 981.855 1860.96 978.989 1858C977.08 1856.03 975.027 1853.21 972.579 1851.89C967.388 1849.09 957.131 1865.54 953.911 1869C937.168 1886.97 915.206 1902.6 893 1913.11C837.837 1939.22 775.288 1946.04 715 1941.91C693.469 1940.44 671.435 1934.18 650 1934z"
              />
              <path
                style="fill: #e9d1cc; stroke: none"
                d="M658 1942L657 1965C670.339 1965.28 683.657 1967.66 697 1967.99C769.321 1969.76 847.168 1965.9 913 1932.75C933.421 1922.47 951.942 1908.6 966.565 1891C970.11 1886.73 979.699 1876.97 978.978 1871C978.531 1867.31 974.068 1863.94 972 1861C961.819 1863.88 952.945 1878.74 945 1885.71C927.47 1901.09 907.324 1913.71 886 1923.14C834.862 1945.75 774.479 1952.71 719 1948.91C698.551 1947.51 678.41 1943.61 658 1942z"
              />
            </svg>
          </div>
        </foreignObject>
        <foreignObject x="0" y="0" width="1280" height="780">
          <div xmlns="http://www.w3.org/1999/xhtml">
            <svg viewBox="0 0 1280 780">
              <ellipse cx="1050" cy="1300" rx="450" ry="800" fill="#420f00" />
              <ellipse cx="1050" cy="1300" rx="440" ry="790" fill="#840d0d" />
              <polygon
                points="1220,570 1280,625 1280,780"
                style="fill: #6c0c0b"
              />
              <polygon
                points="1120,520 1220,570 1280,780 1240,780 "
                style="fill: #750d0c"
              />
            </svg>
          </div>
        </foreignObject>
        <foreignObject x="82" y="82" width="1116" height="616">
          <div xmlns="http://www.w3.org/1999/xhtml">
            <div class="monitor">
              <router-view class="router-view" />
            </div>
          </div>
        </foreignObject>
        <a href="https://homestarrunner.com">
          <circle
            cx="55"
            cy="757"
            r="8"
            stroke="#48af3b"
            stroke-width="3"
            fill="#14c917"
          ></circle>
          <text
            x="83"
            y="763"
            fill="white"
            style="
              font-family: Secular One;
              text-shadow:
                -2px 0 #a5a560,
                0 2px #a5a560,
                2px 0 #a5a560,
                0 -2px #a5a560;
            "
          >
            Lappy 486
          </text>
        </a>
      </svg>
    </template>
    <template #fallback>
      <div>Loading...</div>
    </template>
  </suspense>
</template>

<script>
export default {
  data() {
    return {
      width: window.innerWidth - 20,
      height: window.innerHeight - 20,
    };
  },
  created() {
    window.addEventListener("resize", this.myEventHandler);
  },
  destroyed() {
    window.removeEventListener("resize", this.myEventHandler);
  },
  methods: {
    myEventHandler(e) {
      this.height = e.srcElement.innerHeight - 20;
      this.width = e.srcElement.innerWidth - 20;
    },
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
body {
  color: #fff;
  background: #000;
}

a:link {
  color: #2ad2be;
}

a:visited {
  color: #065563;
}

svg|a:link,
svg|a:visited {
  cursor: pointer;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
}
/* .monitor { */
/*   background: #000000; */
/* } */
.router-view {
  padding-left: 10px;
}
</style>
